*{
    margin: 0;
}
.header{
    display: flex;
    align-self: center;
    gap: 10px;
}
.image{
    margin-top: 10px;
}
.image img{
    width: auto;
}
.link{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form{
    display: flex;
    flex-direction: column;
}
.form button{
    width: 50px;
    text-align: center;
}
